<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Node</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>
		<header>
			<div id="head_form">
				<div id="logo"></div>
				{{#if isAuth}}
					<form id="login_form" action="/logout" method="post">
						<ul>
							<li>
								<label>Welcome {{login}}</label>
							</li>
							<li>
								<button class="submit" type="submit">Выйти</button>
							</li>
						</ul>
					</form>
		    	{{/if}}
				{{#unless isAuth}}
					<form id="login_form" action="/login" method="post">
						<ul>
							<li class="line">
								<input type="text" id="username" name="username" placeholder="Логин">
							</li>
							<li class="line">
								<input type="password" id="password" name="password" placeholder="Пароль">
							</li>
							<li>
								<button class="submit" type="submit">Войти</button>
							</li>
							<li class="ErrorMessage">
								{{#if ErrorMsg}}
									<span>{{ErrorMsg}}</span>
								{{/if}}
							</li>
						</ul>
					</form>
				{{/unless}}
			</div>
		</header>
	</body>
</html>