body {
	margin: 0;
}
#head_form {
	display: flex;
    flex-direction: row-reverse;
    background: beige;
    border-radius: 4px;
}
#head_form input {
	float: right;
	width: 90%;
	font-size: medium;
}
#logo {
	height: 20%;
}
#login_form {
	width: 22%;
	margin-bottom: 0 !important;
	background: #f3f1ed;
	border-left: 1px solid wheat;
}
#login_form ul {
    width:100%;
    list-style-type:none;
	list-style-position:outside;
	margin:0px;
	padding:0px;
}
#login_form li {
	display: flex;
	flex-direction: row-reverse;
	height: auto;
	margin: 4% 4% 2% 0;
}

#login_form li:first-child {
	margin: 10% 4% 2% 0;
}

#login_form li.btn {
	height: 4%;
}
/* === Button Style === */
button.submit {
	background-color: #e5e2dc;
	border: none;
	width: 40%;
	font-size: medium;
}
button.submit:hover {
	opacity:.85;
	cursor: pointer; 
}
button.submit:active {

}

.ErrorMessage {
	color: red;
	padding: 2px !important;
}

@media screen and (max-width: 980px) {
	#login_form {
		display: none;
	}
	#logo {
		height: 21%;
	}
}